/*parametres globaux*/

h2{
  color: #ffffff;
  padding: 1%;
  padding: 5% 0 2% 20%;
  font-family: 'Old Standard TT', serif;
}

.titreGalerie {
  text-align: center;
  font-size: 3em;
  }

h4{
  color: #ffffff;
  padding: 0 0 2% 20%;
  font-family: 'Old Standard TT', serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #444;
}

/*debut du header*/

header {
  background-color: #000;
  width: 100%;
  height: 20%;
  display: inline-block;
}

.logo {
  display: inline-flex;
}

@media screen and (max-width: 600px) {
  .logo {
    display: none; 
  }
}

nav {
  float: right;
  padding: 20px;  
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 1.4em;
  padding: 10px;
}

/*fin du header*/

/*debut de la galerie des produit*/

.rayon{
  display: inline-block;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*fin de lma galerie*/

/*debut du footer*/

.footer{
  background-color: #2C3E50;
}

.footer p{
  color: #ffffff;
  text-align: center;
  padding-top: 20%; 
}

#contact-submit{
  padding: 2%;
  float: right;
  margin-top: 2%;
}

.formulaireContact{
  width: 500px;
  display: block;
  margin: 0 auto;
}

input{
  margin-bottom: 20px;
}

input[type = text]{
  height: 50px;
  width: 100%;
  padding: 0 0 0 3%;
  border: 1px solid #2C3E50;
  border-radius: 50px;
}

input[type = email]{
  height: 50px;
  width: 500px;
  padding: 0 0 0 3%;
  border-radius: 50px;
}

.valider{
  background-color: #C1D2D6;
  color: #000;
  border-radius: 50px;
}

.social_media{
  float: right;
  padding-top: 5%;
}
/*fin du footer*/